<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<style>
#myProgress, #myCalc {
	width: 100%;
	background-color: #ffffff;
}

#myBar, #myCal {
	width: 0%;
	height: 30px;
	background-color: #4CAF50;
}

#wrapper {
	margin-right: 200px;
}

#content {
	float: left;
	width: 100%;
}

#sidebar {
	float: right;
	width: 200px;
}
</style>
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

	<h2>Upload Raw data and Run Loan-level Calculation</h2>

	<div class="form-group">
		<form method="POST" enctype="multipart/form-data" id="fileUploadForm">
					<label for="run">Name your Run:</label> <input type="text"
						name="extraField" /> <br /> <br />
					<label for="file1">Choose Raw CSV:</label> <input type="file"
						class="" name="files" />
			<br /> 
			<!-- 	<br />
				<label for="file2">Choose Another Raw CSV:</label> 
				<input type="file" name="files" /> -->
			<input class="btn btn-primary" onClick="move()" type="submit"
				value="Submit" id="btnSubmit" />
		</form>
	</div>
	<p class="bg-success" id="result"></p>
	<script type="text/javascript" src="js/main.js"></script>
	<div id="myProgress">
		<div class="progress-bar progress-bar-striped active"
			role="progressbar" id="myBar" style="text-align: center; color: #fff">Saved!
			Extracting, Transforming and Loading...</div>
	</div>
	<div class="form-group">
		<form method="POST" enctype="text/plain" id="calcForm">
			<label for="run"></label> <input class="btn btn-primary"
				onClick="calc()" type="hidden" value="Calculate" id="btnCalc" />
		</form>
	</div>
	<p class="bg-success" id="result1"></p>
	<script type="text/javascript" src="js/calc.js"></script>
	<div id="myCalc">
		<div class="progress-bar progress-bar-striped active"
			role="progressbar" id="myCal" style="text-align: center; color: #fff">Calculating...</div>
	</div>

	<!-- <ul id="file-list"></ul> -->

	<script th:inline="javascript">
		/*<![CDATA[*/
		var fileList = document.querySelector("#file-list");
		(function() {
			fetch("/files").then(function(response) {
				response.json().then(function(data) {
					if (Array.isArray(data) && data.length) {
						for (var i = 0; i < data.length; i++) {
							var li = document.createElement("li");
							var name = data[i];
							li.innerHTML = "<a href='/files/" + name + "'>" + name + "</a>";
							fileList.appendChild(li);
						}
					}
				});
			})
		})();
	
		function move() {
			var elem = document.getElementById("myBar");
			var width = 0;
			var id = setInterval(frame, 0);
			function frame() {
				if (width >= 100) {
					clearInterval(id);
				} else {
					width++;
					elem.style.width = width + '%';
				}
			}
		}
	
		function calc() {
			var elem = document.getElementById("myCal");
			var width = 0;
			var id = setInterval(frame, 0);
			function frame() {
				if (width >= 100) {
					clearInterval(id);
				} else {
					width++;
					elem.style.width = width + '%';
				}
			}
		}
		/*]]>*/
	</script>
</body>
</html>